body {
  margin: 0;
  padding: 0;
}

/* for backers */
.inner {
  background-image: url(/assets/backers-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
}

.section {
  display: flex;
  animation: swipe 20000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.spinning {
  transform: rotateY(0deg);
  animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.animate-flicker {
  animation: fadeIn 1s infinite alternate;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
